.admin-view{
    width: 100%;
    height:500px;
    display: flex;

}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.admin-nav{
    width: 20%;
    height:500px;
    border: 1px solid silver;
}
.admin-container{
    width: 80%;
    height: 500px;
    border: 1px solid silver;
}
.sidenav {
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: orange;
  }
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    position: relative;
    margin: 12px;
    padding: 10px;
    color: white;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-right {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 35px;
  }

  .resturent-product{
    width: 100%;
    height: 1000px;
    
  }

.display-product {
  display: flex;
  justify-content:space-between;
  width: 49%;
  margin: 7px;
  padding: 10px;
  text-align: center;
  float:left;
  border: 1px solid silver;
}


/* Clear floats after the columns */
.display-product:after {
  content: "";
  display: table;
  clear: both;
}
#logOut:hover{
  background: #ff990086;
 

}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
 .rate {
     width: 80%;
     margin: 20px;
     padding-left: 20px;
 }
  .heading {
    font-size: 25px;
    margin-right: 25px;
    color: black;
  }
  
  .fa {

    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}